.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(25, 11, 67);
}

.header-container .logo img {
  max-width: 120px;
  height: 100px;
  margin-right: 30px;
  transition: 1s;
}

.header-container .input-cont {
  width: 700px;
  height: 30px;
}

.header-container input {
  width: 70%;
  padding: 12px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.header-container input:focus {
  outline: 0;
}

.header-container button {
  margin: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  padding: 11px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px white;
  color: white;
  font-weight: 500;
  transition: 1s;
  cursor: pointer;
}

.header-container button:hover {
  background-color: rgba(248, 238, 44, 0.169);
  border: solid 1px rgb(248, 237, 44);
  color: rgb(248, 237, 44);
  transition: 1s;
}

.header-container div {
  padding: 10px;
}

.login-cadastro-cont {
  width: 130px;
  color: white;
}

.login-cadastro-cont strong a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.navegacao {
  width: 100%;
  background-color: rgb(250, 163, 0);
  display: flex;
  justify-content: center;
}

.navegacao .navbar-item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.navegacao ul li {
  list-style: none;
}

.navegacao ul li .link {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px 90px 0px 0px;
  text-decoration: none;
  transition: 1s;
}

.navegacao ul li .link:hover {
  color: rgb(49,36, 92,1);
  transition: 1s;
}

@media screen and (max-width: 1144px) {


  .Container{
    width: 100%;
   }
  
  .navegacao .navbar-item-list li .link {
    margin: 0px 30px 0px 0px;
    font-size: 1rem;
  }
  

}

@media screen and (max-width: 734px) {

  .header-container .logo img {
    max-width: 80px;
    height: 80px;
    margin-right: 0px;
    margin-left: 20px;
  }

  .navegacao .navbar-item-list {
    display: flex;
    flex-direction: column;
  }

  .navegacao .navbar-item-list li{
    margin-bottom: 10px;
  }
  
  .navegacao .navbar-item-list li .link {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 474px) {


  .header-container .input-cont {
   width: 180px;
  }
  .header-container .input-cont input {
   width: 90px;
  }

  
.header-container button {
  width: 60px;
 
}

 
}
@media screen and (max-width: 440px) {

  .header-container .logo img {
     margin-right: 80px; 
  }

  .header-container .input-cont {
  display: none;
}

 
}
