.Container {
  margin-top: 100px;
  padding: 0;
  width: 69%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.961);
}

.Card-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 200px;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
}

.Card-Content img {
  max-width: 170px;
  transition: 1s;
}

.Card-Content img:hover{
  transition: 1s;
  padding: 10px;
}

.Card-Content div {
  max-width: 170px;
}

.Card-Content .Nome {
  color: rgb(74, 77, 77);
}

.Card-Content .Preco {
  margin-right: 70px;
  margin-top: 20px;
  font-weight: 700;
  color: rgb(18, 99, 87);
}

.top-info {
  margin-bottom: 50px;
  width: 100%;
  font-size: 1.2rem;
  background-color: rgb(250, 163, 0);
}
.top-info h1 {
  margin-left: 110px;
  color: white;
  width: 200px;
  transition: 1s;
}

.top-info h1:hover {
  transition: 1s;
  color: rgb(49,36, 92,1);
}

